# DB
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=transaction_platform

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Hub
HUB_PORT=3001
NEXTAUTH_URL=http://localhost:3001

# Service
SERVICE_PORT=3001
WORKER_CONCURRENCY=10
WORKER_COUNT=2