# dependencies
node_modules

# build
dist

# env
.env
.env.*.local

# logs
logs
*.log

# runtime
pids
*.pid
*.seed

# coverage
coverage

# IDE
.vscode
.idea

# OS
.DS_Store

# Prisma
prisma/migrations/dev

# Redis dumps (если вдруг локально)
dump.rdb